# ignore all logs 
/__pycache__/**
*.pyc
kaf-contacts-base/__pycache__/__init__.cpython-39.pyc
kaf-contacts-base/__pycache__/__init__.cpython-39.pyc
kaf-contacts-base/models/__pycache__/__init__.cpython-39.pyc
kaf-contacts-base/models/__pycache__/pos_config_image.cpython-39.pyc
kaf-contacts-base/models/__pycache__/res_company.cpython-39.pyc
kaf-contacts-base/models/__pycache__/res_partner.cpython-39.pyc
modelos-fotocopiadoras/__pycache__/__init__.cpython-39.pyc
modelos-fotocopiadoras/models/__pycache__/__init__.cpython-39.pyc
modelos-fotocopiadoras/models/__pycache__/copier_brand.cpython-39.pyc
modelos-fotocopiadoras/models/__pycache__/datasheet.cpython-39.pyc
kaf-sales-base/models/__pycache__/sale_make_aaaaa.cpython-39.pyc
kaf-contacts-base/__pycache__/__init__.cpython-39.pyc
